/build/
/nbproject/private/
/dist/
/distribute/cache/
/distribute/VisiCut*.zip
/distribute/*.deb
/distribute/*.exe
/distribute/*.pkg.tar.xz
/distribute/linux/*.pkg.tar.xz
/distribute/linux/pkg
/distribute/linux/src
/distribute/linux/PKGBUILD-tmp
/distribute/visicut/
/distribute/VisiCut.app/
/settings/
/src/main/resources/de/thomas_oster/visicut/gui/resources/splash.png
/src/main/resources/de/thomas_oster/visicut/gui/resources/splash@*.png
/*-pak
# Temporary files:
/distribute/wintmp/
*~
*.orig

# Maven stuff:
/lib/nbproject/private/
/lib/build/
/target/

# AppImage builds
.appimagecraft-build*/
*.AppImage
squashfs-root/
