<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Version: MPL 1.1/GPL 2.0/LGPL 2.1
  ~
  ~ "The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing rights and limitations under
  ~ the License.
  ~
  ~ The Original Code is ICEfaces 1.5 open source software code, released
  ~ November 5, 2006. The Initial Developer of the Original Code is ICEsoft
  ~ Technologies Canada, Corp. Portions created by ICEsoft are Copyright (C)
  ~ 2004-2006 ICEsoft Technologies Canada, Corp. All Rights Reserved.
  ~
  ~ Contributor(s): _____________________.
  ~
  ~ Alternatively, the contents of this file may be used under the terms of
  ~ the GNU Lesser General Public License Version 2.1 or later (the "LGPL"
  ~ License), in which case the provisions of the LGPL License are
  ~ applicable instead of those above. If you wish to allow use of your
  ~ version of this file only under the terms of the LGPL License and not to
  ~ allow others to use your version of this file under the MPL, indicate
  ~ your decision by deleting the provisions above and replace them with
  ~ the notice and other provisions required by the LGPL License. If you do
  ~ not delete the provisions above, a recipient may use your version of
  ~ this file under either the MPL or the LGPL License."
  ~
  -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
        debug="false">

    <appender name="guiConsoleAppender"
              class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p %c - %m%n"/>
        </layout>
    </appender>

    <appender name="guiFileAppender"
              class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="log.txt"/>
        <param name="Threshold" value="ERROR"/>
        <param name="MaxFileSize" value="9048576"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d (%F:%L) %-5p %c - %m%n"/>
        </layout>
    </appender>

    <category name="org.icepdf.core">
        <priority value="INFO"/>
    </category>

    <!-- Trace level to show content decoded content stream-->
    <category name="org.icepdf.core.util.ContentParser">
        <level value="INFO"/>
    </category>

    <!-- Debugto show font substitution-->
    <category name="org.icepdf.core.pobjects.fonts.FontManager">
        <level value="INFO"/>
    </category>

    <category name="org.icepdf.core.pobjects.fonts">
        <level value="INFO"/>
    </category>

    <category name="org.icepdf.ri">
        <priority value="INFO"/>
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="guiConsoleAppender"/>
    </root>

</log4j:configuration>

