<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0" class="java.beans.XMLDecoder">
 <object class="com.t_oster.visicut.Preferences">
  <void property="availableImporters">
   <array class="java.lang.String" length="4">
    <void index="0">
     <string>com.t_oster.visicut.model.graphicelements.svgsupport.SVGImporter</string>
    </void>
    <void index="1">
     <string>com.t_oster.visicut.model.graphicelements.jpgpngsupport.JPGPNGImporter</string>
    </void>
    <void index="2">
     <string>com.t_oster.visicut.model.graphicelements.dxfsupport.DXFImporter</string>
    </void>
    <void index="3">
     <string>com.t_oster.visicut.model.graphicelements.epssupport.EPSImporter</string>
    </void>
   </array>
  </void>
  <void property="availableLasercutterDrivers">
   <array class="java.lang.String" length="1">
    <void index="0">
     <string>com.t_oster.liblasercut.drivers.EpilogCutter</string>
    </void>
   </array>
  </void>
  <void property="laserDevices">
   <object class="java.util.LinkedList">
    <void method="add">
     <object class="com.t_oster.visicut.model.LaserDevice">
      <void property="cameraCalibration">
       <object class="java.awt.geom.AffineTransform">
        <double>0.19630256844482077</double>
        <double>0.0</double>
        <double>0.0</double>
        <double>0.19954840530623766</double>
        <double>124.33334350585938</double>
        <double>484.3333282470703</double>
       </object>
      </void>
      <void property="description">
       <string>The Epilog ZING 30W Laser which is in the Fablab</string>
      </void>
      <void property="laserCutter">
       <void property="hostname">
        <string>137.226.56.228</string>
       </void>
      </void>
      <void property="materialsPath">
       <string>settings/cutters/epilog/materials</string>
      </void>
      <void property="name">
       <string>Epilog ZING @ Fablab</string>
      </void>
      <void property="thumbnailPath">
       <string>settings/cutters/epilog/epilog.png</string>
      </void>
     </object>
    </void>
    <void method="add">
     <object class="com.t_oster.visicut.model.LaserDevice">
      <void property="cameraCalibration">
       <object class="java.awt.geom.AffineTransform">
        <double>0.19630256844482077</double>
        <double>0.0</double>
        <double>0.0</double>
        <double>0.19954840530623766</double>
        <double>124.33334350585938</double>
        <double>484.3333282470703</double>
       </object>
      </void>
      <void property="cameraURL">
       <string>http://137.226.56.115:8080/defaultbackground.jpg</string>
      </void>
      <void property="description">
       <string>The Trotec SP 1500 Laser which is not in the Fablab</string>
      </void>
      <void property="laserCutter">
       <void property="port">
        <int>123</int>
       </void>
      </void>
      <void property="materialsPath">
       <string>settings/cutters/trotec/materials</string>
      </void>
      <void property="name">
       <string>Trotec SP 1500 !@ Fablab</string>
      </void>
      <void property="thumbnailPath">
       <string>settings/cutters/trotec/trotec.png</string>
      </void>
     </object>
    </void>
   </object>
  </void>
 </object>
</java>
